@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {} 
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts Sizes - OVERRIDE
  $h1-font-size: rem-calc(30); // $h1-font-size: rem-calc(44);  // not used yet
  $h2-font-size: rem-calc(30); // $h2-font-size: rem-calc(37);  // 22
  $h3-font-size: rem-calc(22); // $h3-font-size: rem-calc(27);  // 18

  $h4-font-size: rem-calc(16); // $h4-font-size: rem-calc(23);  // not used yet
  $h5-font-size: rem-calc(16); // $h5-font-size: rem-calc(18);  // not used yet
  $h6-font-size: rem-calc(16); // $h6-font-size: 1rem;          // not used yet

// Typical Paragraphs
  $paragraph-font-size: rem-calc(17); // 15 
  $footer-font-size: rem-calc(26); //12

// Backgrounds and Sprite Sheets
  $background-d: url('http://www.brooklyn.cuny.edu/web/adm_2013marketing/logobar.png'); 

// Colors
  $color-maroon: #781a42; //#7c2142 BCF
  $color-maroon2: #5d0d2f;
  $color-maroon3: #7a203d;
  $color-black: #000;
  $color-white: #fff;
  $color-gray222: #222; // starting additional colors
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-grayccc: #ccc;
  $color-grayeee: #eee;
  $color-grayefe: #efefef;
  $color-gray404: #404040;
  $color-gray515: #515151;
  $color-gray969: #969696;
  $color-gray929: #929292;
  $color-gray505: #505050;
  $color-gray6a6: #6a6a6a;
  $color-gray8f8: #8f8f8f;
  $color-grayc3c: #c3c3c3;
  $color-grayf0f: #f0f0f0;
  $color-gray818: #818181;
  $color-blue: #3b7ddb;
  $color-red: #d30043;
  $color-orange: #e34913;

// Line Styles
  $thick-maroon: 8px solid $color-maroon; 
  $thin-gray666: 2px solid $color-gray666;
  $thin-grayccc: 1px solid $color-grayccc;
  $thin-maroon2: 2px solid $color-maroon2;

  $thick-blue: 3px solid $color-blue;
  $thick-red: 3px solid $color-red;
  $thick-orange: 3px solid $color-orange;
  $thick-maroon3: 3px solid $color-maroon3;
  $thin-gray929: 1px solid $color-gray929;
  $thin-gray505: 1px solid $color-gray505;
  $thin-gray8f8: 1px solid $color-gray8f8;
  $thin-gray818: 1px solid $color-gray818;

body {
  background-color: $color-white;
  font-family: $font-lucida;
}

a {
  color: $color-maroon;
  font-weight: $bold;
  text-decoration: none;
  &:hover{
    color: $color-gray666;
  }
}

.full-width {
	width: 100%;
	max-width: 100%;
}

.headerbar {
  background-image: $background-d;
  height: rem-calc(45);
}

// Header 
header {
  .logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 0px 4px 0px;
    border:none;
    width: 88px;
    height: 45px;
  }
	nav {

	}
}

// Content
.content { // content
  //border: $thin-gray929;
  padding: rem-calc(30) rem-calc(10) rem-calc(15) rem-calc(10);
  margin: 0 rem-calc(10) 0 rem-calc(10);
  @media #{$Small} {
    padding: rem-calc(30) rem-calc(0) rem-calc(40) rem-calc(0);
  }
  .sectionObject {
    .textContent {
      padding-right: rem-calc(18);
      @media #{$Small} {
        padding: 0;
      }
      h1 {
        //border: $thin-gray929;
        font-family: 'ComeniaSansCondRegular';
        font-size: $h1-font-size;
        color: $color-black;
        border-bottom: $thick-blue;
        text-transform: uppercase;
        //padding: 0;
        margin: 0 0 9px 0;
        line-height: 26px;
        @media #{$Small} {
          font-size: ($h1-font-size - rem-calc(6));
          line-height: 20px;
          margin: 0 0 5px 0;
        }
      }
      h2 {
        //border: $thin-gray929;
        font-family: 'ComeniaSansCondRegular';
        font-size: $h2-font-size;
        color: $color-black;
        border-bottom: $thick-maroon3;
        text-transform: uppercase;
        margin: 28px 0 6px 0;
        line-height: 26px;
        &:nth-last-of-type(2) {
          border-bottom: $thick-orange;
        }
        &:nth-last-of-type(3) {
          border-bottom: $thick-red;
        }
        @media #{$Small} {
          font-size: ($h2-font-size - rem-calc(6));
          line-height: 20px;
          margin: 35px 0 6px 0;
        }
      }
      h3 {
        //border: $thin-gray929;
        font-family: 'ComeniaSansCondRegular';
        font-size: $h3-font-size;
        color: $color-gray515;
        text-transform: uppercase;
        margin: 16px 0 3px 0;
        line-height: 23px;
        @media #{$Small} {
          font-size: ($h3-font-size - rem-calc(4));
          line-height: 19px;
          margin: 10px 0 1px 0;
        }
      }
      p {
        //border: $thin-gray929;
        font-size: $paragraph-font-size;
        color: $color-gray404;
        margin: rem-calc(11) 0 rem-calc(26) 0;
        &:last-of-type {
          margin-bottom: rem-calc(10);
        }
        line-height: 22px;
        @media #{$Small} {
          font-size: ($paragraph-font-size - rem-calc(2));
          line-height: 20px;
          margin: rem-calc(5) 0 rem-calc(28) 0;
        }
      }
    }
    img {
      padding: 0 0 rem-calc(30) rem-calc(18);
      //@media #{$medium} {
      //  padding: 0 0 rem-calc(30) rem-calc(18);
      //}
      @media #{$Phone} {
        padding: 0 0 rem-calc(30) rem-calc(0);
      }
      @media #{$Small} {
        padding: 0 0 rem-calc(30) 0;
      }
    }
  }
}
	
  .sectionObject { // insides of each column setup 
    //border: $thin-gray929;
    padding: 0;
    margin: 0;
    .buttonW {
      height: 45px;
      margin: rem-calc(6) rem-calc(18) rem-calc(6) rem-calc(18);
      @media #{$Small} {
        margin: rem-calc(6) rem-calc(9) rem-calc(6) rem-calc(9);
      }
      .buttons {
        //&.fRight {
        //  float: right;
        //}
        display: table;
        //height: rem-calc(36);        
        padding: 0px 10px 0px 0px;
        //margin: 15px 0px 15px 0px;
        background-color: $color-gray969;
        border: $thin-gray818;
        //@media #{$Small} {
          //width: 100%;
          //padding: 0px 5px 0px 5px;
        //}
        &:hover {
          background-color: $color-gray222;
          border: $thin-gray505;
        }
        img {
          width: 19px;
          height: 31px;
          display: table-cell;
          float: left;
          margin: rem-calc(6) rem-calc(0) rem-calc(6) rem-calc(5);
        }
        p {
          height: 45px;
          font-size: rem-calc(15);
          padding-left: rem-calc(10);
          color: $color-white;
          display: table-cell;
          vertical-align: middle;
          line-height: 16px;
          //text-transform: none;
          @media #{$Small} {
            font-size: rem-calc(12);
            line-height: 14px;
          }
        }
      }
    }
  }  

.buttonbar {
  background-color: $color-grayf0f;
  height: rem-calc(60);
  border-top: $thin-gray929;
}

.footerbar {
  background-color: $color-grayc3c;
  height: rem-calc(70);
  border-top: $thin-gray929;
  @media #{$Small} {
    height: rem-calc(50);
  }
}

//Footer
footer {
  //padding-left: rem-calc(10);
  .sectionObject { // insides of each column setup 
    padding: rem-calc(15) rem-calc(0) rem-calc(0) rem-calc(0);
    @media #{$Small} {
      padding: rem-calc(8) rem-calc(0) rem-calc(0) rem-calc(0);
    }
    #cunyBC {
      padding: rem-calc(0) rem-calc(0) rem-calc(0) rem-calc(10);
      @media #{$Small} {
        padding: rem-calc(0) rem-calc(0) rem-calc(0) rem-calc(5);
      }
      #CUNY {
        width: 88px;
        float: left;
        height: 43px;
        @media #{$Small} {
          width: 76px;
          height: 37px;
        }
      }
      #address {
        margin-left: 90px;
        padding-left: 5px;
        @media #{$Small} {
          margin-left: 78px;
          padding-left: 5px;
        }
        p {
          font-size: rem-calc(12);
          line-height: 16px;
          color: $color-gray6a6;
          border-left: $thin-gray8f8;
          padding-left: rem-calc(7);
          margin:-2px 0px 0px 0px;
          padding-top: 0;
          @media #{$Small} {
            font-size: rem-calc(11);
            line-height: 14px;
          }
        }
        a {
          font-weight: normal;
        }
      }
    }
  }
}